In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame()

In [3]:
level_of_education = ['Senior Secondary']*30 + ['Bachelors']*30

In [4]:
level_of_education

['Senior Secondary',
 'Senior Secondary',
 'Senior Secondary',
 'Senior Secondary',
 'Senior Secondary',
 'Senior Secondary',
 'Senior Secondary',
 'Senior Secondary',
 'Senior Secondary',
 'Senior Secondary',
 'Senior Secondary',
 'Senior Secondary',
 'Senior Secondary',
 'Senior Secondary',
 'Senior Secondary',
 'Senior Secondary',
 'Senior Secondary',
 'Senior Secondary',
 'Senior Secondary',
 'Senior Secondary',
 'Senior Secondary',
 'Senior Secondary',
 'Senior Secondary',
 'Senior Secondary',
 'Senior Secondary',
 'Senior Secondary',
 'Senior Secondary',
 'Senior Secondary',
 'Senior Secondary',
 'Senior Secondary',
 'Bachelors',
 'Bachelors',
 'Bachelors',
 'Bachelors',
 'Bachelors',
 'Bachelors',
 'Bachelors',
 'Bachelors',
 'Bachelors',
 'Bachelors',
 'Bachelors',
 'Bachelors',
 'Bachelors',
 'Bachelors',
 'Bachelors',
 'Bachelors',
 'Bachelors',
 'Bachelors',
 'Bachelors',
 'Bachelors',
 'Bachelors',
 'Bachelors',
 'Bachelors',
 'Bachelors',
 'Bachelors',
 'Bachelors',
 'Bachelors',
 'Bachelors',
 'Bachelors',
 'Bachelors']

In [5]:
teaching_methodology = ['Theory']*20 + ['Hands On']*20 + ['Combination']*20

In [6]:
teaching_methodology

['Theory',
 'Theory',
 'Theory',
 'Theory',
 'Theory',
 'Theory',
 'Theory',
 'Theory',
 'Theory',
 'Theory',
 'Theory',
 'Theory',
 'Theory',
 'Theory',
 'Theory',
 'Theory',
 'Theory',
 'Theory',
 'Theory',
 'Theory',
 'Hands On',
 'Hands On',
 'Hands On',
 'Hands On',
 'Hands On',
 'Hands On',
 'Hands On',
 'Hands On',
 'Hands On',
 'Hands On',
 'Hands On',
 'Hands On',
 'Hands On',
 'Hands On',
 'Hands On',
 'Hands On',
 'Hands On',
 'Hands On',
 'Hands On',
 'Hands On',
 'Combination',
 'Combination',
 'Combination',
 'Combination',
 'Combination',
 'Combination',
 'Combination',
 'Combination',
 'Combination',
 'Combination',
 'Combination',
 'Combination',
 'Combination',
 'Combination',
 'Combination',
 'Combination',
 'Combination',
 'Combination',
 'Combination',
 'Combination']

In [7]:
ss_theory = np.random.normal(loc=34, scale=2, size=10)

ss_handson = np.random.normal(loc=45, scale=4, size=10)

ss_combination = np.random.normal(loc=51, scale=3.5, size=10)

bachelors_theory = np.random.normal(loc=30, scale=1.5, size=10)

bachelors_handson = np.random.normal(loc=55, scale=6, size=10)

bachelors_combination = np.random.normal(loc=48, scale=2.5, size=10)

attention_span = np.concatenate((ss_theory, ss_handson, ss_combination, bachelors_theory, bachelors_handson, bachelors_combination))

In [8]:
attention_span

array([38.64939635, 34.47564302, 33.34768704, 32.80695898, 37.25238457,
       32.94594487, 30.47437953, 34.52097652, 37.07846724, 35.39516128,
       48.8574372 , 37.79069773, 35.86826548, 47.67680554, 41.22180482,
       49.51238052, 51.81260752, 48.70592953, 46.29808098, 49.42771495,
       51.71118016, 55.65299509, 49.71626282, 48.58857372, 40.21645905,
       47.5602169 , 54.15809948, 50.62525352, 49.65637218, 50.92902791,
       30.8954012 , 30.06109075, 26.98253859, 28.56959831, 30.48381917,
       28.0024483 , 29.84228505, 29.77347033, 31.00489335, 30.71575962,
       44.79948899, 59.60168543, 51.72218037, 62.42909686, 55.27952835,
       56.56780867, 54.20942988, 64.96137156, 55.33728419, 55.03033725,
       48.91346492, 44.43981596, 53.34054787, 46.90940479, 50.55595978,
       50.90187412, 50.83403625, 51.96926938, 46.53973813, 50.29839862])

In [9]:
df['LE'] = level_of_education

df['TM'] = teaching_methodology

df['AS'] = attention_span

In [10]:
df

                  LE           TM         AS
0   Senior Secondary       Theory  38.649396
1   Senior Secondary       Theory  34.475643
2   Senior Secondary       Theory  33.347687
3   Senior Secondary       Theory  32.806959
4   Senior Secondary       Theory  37.252385
5   Senior Secondary       Theory  32.945945
6   Senior Secondary       Theory  30.474380
7   Senior Secondary       Theory  34.520977
8   Senior Secondary       Theory  37.078467
9   Senior Secondary       Theory  35.395161
10  Senior Secondary       Theory  48.857437
11  Senior Secondary       Theory  37.790698
12  Senior Secondary       Theory  35.868265
13  Senior Secondary       Theory  47.676806
14  Senior Secondary       Theory  41.221805
15  Senior Secondary       Theory  49.512381
16  Senior Secondary       Theory  51.812608
17  Senior Secondary       Theory  48.705930
18  Senior Secondary       Theory  46.298081
19  Senior Secondary       Theory  49.427715
20  Senior Secondary     Hands On  51.711180
21  Senior Secondary     Hands On  55.652995
22  Senior Secondary     Hands On  49.716263
23  Senior Secondary     Hands On  48.588574
24  Senior Secondary     Hands On  40.216459
25  Senior Secondary     Hands On  47.560217
26  Senior Secondary     Hands On  54.158099
27  Senior Secondary     Hands On  50.625254
28  Senior Secondary     Hands On  49.656372
29  Senior Secondary     Hands On  50.929028
30         Bachelors     Hands On  30.895401
31         Bachelors     Hands On  30.061091
32         Bachelors     Hands On  26.982539
33         Bachelors     Hands On  28.569598
34         Bachelors     Hands On  30.483819
35         Bachelors     Hands On  28.002448
36         Bachelors     Hands On  29.842285
37         Bachelors     Hands On  29.773470
38         Bachelors     Hands On  31.004893
39         Bachelors     Hands On  30.715760
40         Bachelors  Combination  44.799489
41         Bachelors  Combination  59.601685
42         Bachelors  Combination  51.722180
43         Bachelors  Combination  62.429097
44         Bachelors  Combination  55.279528
45         Bachelors  Combination  56.567809
46         Bachelors  Combination  54.209430
47         Bachelors  Combination  64.961372
48         Bachelors  Combination  55.337284
49         Bachelors  Combination  55.030337
50         Bachelors  Combination  48.913465
51         Bachelors  Combination  44.439816
52         Bachelors  Combination  53.340548
53         Bachelors  Combination  46.909405
54         Bachelors  Combination  50.555960
55         Bachelors  Combination  50.901874
56         Bachelors  Combination  50.834036
57         Bachelors  Combination  51.969269
58         Bachelors  Combination  46.539738
59         Bachelors  Combination  50.298399

In [11]:
import statsmodels.api as sm

In [12]:
from statsmodels.formula.api import ols

In [13]:
model = ols(formula='AS ~ C(LE) + C(TM) + (C(LE)*C(TM))', data=df).fit()

In [14]:
sm.stats.anova_lm(model, typ=2)

C:\Users\Dell\Anaconda3\lib\site-packages\statsmodels\base\model.py:1532: ValueWarning: covariance of constraints does not have full rank. The number of constraints is 2, but rank is 1
  'rank is %d' % (J, J_), ValueWarning)

                  sum_sq    df          F        PR(>F)
C(LE)           0.000000   1.0   0.000000  1.000000e+00
C(TM)        1201.250706   2.0  20.159974  3.602678e-05
C(LE):C(TM)  3619.002805   2.0  60.735866  9.411255e-15
Residual     1668.405935  56.0        NaN           NaN